Django>=5.0,<6.0
python-dotenv>=1.0.0
django-crispy-forms>=2.0
crispy-bootstrap4>=2.0
pandas
datasets
accelerate
tqdm

sentencepiece>=0.1.99   # required by some HF tokenisers

# Whisper for audio transcription
openai-whisper>=20231117

# Transformers for LLM inference
transformers>=4.40.0
torch>=2.0.0
